body {
  margin: 0;
  padding: 0;
  
}

#main-container {
  background-color: #fafafa;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

main {
  overflow: hidden;
  height: 100%;
  border-bottom: black solid 1px;

}


#main-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#home>.row{
  width: 100%;

}

.juanito{
  display: flex;
  align-items: center;
  margin-left: 8px;
}