body {
  margin: 0;
  padding: 0;
  background-color: pink;
}

#main-container {
  background-color: #fafafa;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

main {
  overflow: hidden;
  height: 100%;
}

footer {
  background-color: blanchedalmond;
}

#main-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
